 @import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
	 font-family: 'Lato';
 }

 .fa-btn {
	 margin-right: 6px;
 }
 
 
.navbar {
	min-height : 70px;

	.navbar-brand {
		padding: 10px;
		img {
			width: 100px;
		}
	}
}